{% extends 'layout.html' %}

{% block title %}
    Posts
{% endblock %}

{% block content %}
<section>

    <div class="page-top">
        <h1>Posts</h1>
        <h5>Hi {{ user }} </h5>
        <div class="btns">
            <a href="{% url 'posts:newpost' %}"><button>New Post ➕</button></a>
            <a href="{% url 'posts:logoutt' %}"><button>Logout</button></a>           
        </div>
        
    </div>
    
    {% for post in posts %}
        <article class="post">
            <h2>
                <a href="{% url "posts:page" slug=post.slug %}">
                    {{ post.title }}
                </a>
            </h2>
            <p>{{ post.date }}</p>
            <p>{{ post.body }}</p>
        </article>
    {% endfor %}
</section>
{% endblock %}
